/*
  Dark theme
*/

$body-bg:#36393E;
$body-bg-2: #3d4146;
$grey-0: #424549;
$grey-1:#2E3136;
$grey-2:#1E2124;
$grey-3:#1C1E22;

$accent: #DDDCC5;
$link-text: #04003c;

$main-text: #F5F5F5;
$inverse-text: #111;

$card-background: rgba(white, 0.6);

@import "../_color-palette.scss";
