#calendar-card {
  margin-top:100px;
  background-color: $body-bg-2;
}
.calendar-image {
  height: 180px;
  max-width: 100px;
}
.cal-upnext {
  margin-top: -100px;
  display: flex;
  color: $main-text;
}
.upnext-anime {
  padding: 0px 16px;
  flex-grow: 2;
  display: flex;
}
.upnext-info {
  padding: 10px 16px 0px 16px;
  display: flex;
  flex-direction: column;
}
.upnext-info h2 {
  margin-bottom: 0;
}
.upnext-info h3 {
  font-weight: 400;
}
.upnext-info > span {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.upnext-info > p {
  max-height: 55px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}
.day-row {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 60px;
}
.day-title {
  width: 100px;
  height: auto;
  display: flex;
  justify-content: center;
}
.day-series {
  width: 100%;
  border-bottom: 1px solid $grey-1;
  padding: 6px;
}

.timeline {
  position: relative;
  width: 5px;
  background-color: #F2F2F4;
  display: flex;
  justify-content: center;
}
.timeline-circle {
  position: absolute;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $grey-3;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
}
.currentDay .timeline-circle {
  background-color: $accent;
  color: $inverse-text;
}
