// Soon™
$sidebar: #2E3136;
$sidebar-hover: #282B30;
$sidebar-active: #23252a;
$sidebar-text: #F5F5F5;
$sidebar-text-active: #FFF;
$sidebar-title: #f2f2f4;

// Light Theme
// Grey-n bigger n darker grey

$body-bg:#F9F9F9;
$body-bg-2: #FAFAFA;
$grey-0: #F5F5F5;
$grey-1:#F2F2F4;
$grey-2:#DCDCE2;
$grey-3:#B0B0BC;

$sidebar: #282B30;
$sidebar-hover: darken($sidebar,4%);
$sidebar-active: darken($sidebar,7%);

$main-text: #111;
$main-text-darker: #010101;
$inverse-text: #F5F5F5;
$link-text: #04003c;

$accent:#B91896;
$color-dark:#1D2326;
//$primary:;
//$secondary:;


// Dark Theme
/*
$body-bg:#36393E;
$body-bg-2: #3d4146;
$grey-0: #424549;
$grey-1:#2E3136;
$grey-2:#1E2124;
$grey-3:#1C1E22;

$accent: #DDDCC5;

$main-text: #F5F5F5;
$inverse-text: #111;
*/

/* Variable Colors */

$color-primary: #CC3C75;
$color-secondary: #DD7596;
$color-inverse: #B7C3F3;
$color-emphasis: #4F6272;
$color-accent: #5C92C6;

/*
$color-primary: #CC3C75;
$color-secondary: #584B53;
$color-inverse: #FEF5EF;
$color-emphasis: #E4BB97;
$color-accent: #D6E3F8;
*/

/*
$color-primary: #CC3C75;
$color-secondary: #23395B;
$color-inverse: #FFFD98;
$color-emphasis: #B9E3C6;
$color-accent: #59C9A5;
*/

/* Constant Colors */
/* Available in Every Theme */

// Warning
$color-warning-main: #FF9500;
$color-warning-light: #FFBC00;
$color-warning-dark: #FF7B00;

// Info
$color-info-main: #34AADC;
$color-info-light: #40D0F3;
$color-info-dark: #2591C9;

// Danger
$color-danger-main: #F13527;
$color-danger-light: #FD4D39;
$color-danger-dark: #E5251B;

// Success
$color-success-main: #48c85e;
$color-success-light: #60F181;
$color-success-dark: #38C54C;

$color-map: "warning" $color-warning-main,
  "info" $color-info-main,
  "danger" $color-danger-main,
  "success" $color-success-main,
  "primary" $color-primary,
  "secondary" $color-secondary,
  "inverse" $color-inverse,
  "emphasis" $color-emphasis,
  "accent" $color-accent;


@each $color in $color-map {
  .button.#{nth($color,1)}, .#{nth($color,1)}:not(.checkbox){
    color: nth($color, 2);
  }
  .button.#{nth($color,1)}:hover {
    color: nth($color, 2);
    background-color: rgba(nth($color, 2), 0.3);
  }
  .button.#{nth($color,1)}:active {
    background-color: rgba(nth($color, 2), 0.5);
  }
  .#{nth($color,1)}.raised {
    color: white;
    background-color: nth($color, 2);
  }
  .#{nth($color,1)}.raised:hover {
    color: white;
    background-color: darken(nth($color, 2),5%);
  }
  .#{nth($color,1)}.raised:active {
    color: white;
    background-color: darken(nth($color, 2),10%);
  }
  .checkbox.#{nth($color,1)} input[type="checkbox"]:checked:after {
    background-color: nth($color, 2);
    border-color: nth($color, 2);
  }
  .radio.#{nth($color,1)} input[type="radio"]:checked:after {
    background-color: nth($color, 2);
    border-color: nth($color, 2);
  }
}

// classes
.theme-accent {
  background-color: $accent;
  color: $inverse-text;
  border-color: rgba($accent,0.5);
}
