// Soon™
// Light Theme
// Grey-n bigger n darker grey
$body-bg:#F9F9F9;
$grey-0: #F5F5F5;
$grey-1:#F2F2F4;
$grey-2:#DCDCE2;
$grey-3:#B0B0BC;

$main-color:#611427;
$color-dark:#1D2326;

// Dark Theme
/*
$body-bg:#36393E;
$grey-0: #424549;
$grey-1:#2E3136;
$grey-2:#1E2124;
$grey-3:#1C1E22;
*/
