@import "_color-palette.scss";
body {
    cursor: default;
    -webkit-user-select: none;
    font-family: Roboto;
    font-weight: 300;
    text-decoration: none;
}

.titlebar {
    -webkit-user-select: none;
    -webkit-app-region: drag;
    height: 46px;
    left: 160px;
    background-color: #e0e0e0;
    border-bottom: 1px solid #cecece;
}


/*
.box-shadow:after {
    content: "";
    width: inherit;
    height: -1px;
    display: block;
    margin-top: -1px;
    z-index: -100;
    -webkit-box-shadow: 0px 0px 16px 0px black;
    box-shadow: 0px 0px 16px 0px black;
}*/

html,
body,
.container-fluid {
    height: 100%;
}

//Global Variables
$sidebar-width: 160px;
$sidebar-top-height: 170px;
$titlebar-height: 46px;
$navigation-font-size:15px;
$userInfo-font-size:16px;
$mainArea-height:calc(100% - #{$titlebar-height});
$chiika-rot-speed:2s;
$mainColor:#005d5d; //color: 800
$secondaryColor:#4527A0; // color: 600
$thirdColor:#6200EA; //color: A700
$tabListHeight:35px; //Fix me ?
$statusBarHeight:30px;
$userColor: $teal;
$accentColor: $deep-purple;
.strecthToMainArea {
    height: $mainArea-height;
}

.ReactTabs__TabPanel {
    height: calc(100% - #{$tabListHeight});
}

.content > div {
    height: 100%;
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

.rotateLogo {
    -webkit-animation: spin $chiika-rot-speed linear infinite;
}

.loadingSomething {
    width: 40px!important;
    height: 40px!important;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    ;
}

.chiika-button {
    background-color: color($userColor, 800);
    color: white;
    font-family: sans-serif, 'Roboto';
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    border-radius: 2px;
    border: 0px;
    padding-top: 3px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 5px;
    margin-right: 5px;
    transition: background-color .3s, box-shadow .3s;
    outline: none;
}

.chiika-button:hover {
    background-color: color($userColor, 900);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, .6);
}