@import "_chiika-palette";
body {
  cursor: default;
  padding: 0;
  overflow: hidden;
  -webkit-user-select: none;
  font-family: Roboto;
  font-weight: 300;
  text-decoration: none;
}

.container-fluid,
body,
html {
  height: 100%;
}
//Global Variables
$sidebar-width: 160px;
$sidebar-top-height: 170px;
$titlebar-height: 46px;
$navigation-font-size: 15px;
$userInfo-font-size: 16px;
$mainArea-height: calc(100% - #{$titlebar-height});
$chiika-rot-speed: 2s;
$tabListHeight: 35px; //Fix me ?
$statusBarHeight: 30px;
.strecthToMainArea {
  height: $mainArea-height;
}
.ReactTabs__TabPanel {
  height: calc(100% - #{$tabListHeight});
}
.content > div {
  height: 100%;
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
.rotateLogo {
  -webkit-animation: spin $chiika-rot-speed linear infinite;
}
.loadingSomething {
  width: 40px!important;
  height: 40px!important;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
