.noSpace {
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.vCenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
    padding-top: auto;
    padding-bottom: auto;
}

.centerMe {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.scoreDd {
    width: 35px;
    min-width: 25px;
    text-align: center;
}

.scoreDd li {
    color: black;
}

.scoreDd li#selected {
    background-color: red;
}

.statusDd {
    text-align: center;
}

.statusDd li {
    color: black;
}


/***********************/

#animeTitle {
    padding-left: 20px;
    height: 51px;
    background-color: #eeeeee;
    border-bottom: 1px solid silver;
    display: flex;
    flex-direction: row;
}

.backButtonDiv {
    height: inherit;
    float: left;
    margin-right: 1.2em;
}

#backButton {
    padding-bottom: 3px;
    opacity: 0.87
}

.titleDiv {
    display: inline-block;
    height: inherit;
    float: left;
    font-family: 'Roboto', sans-serif;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 5px;
}

.titleDiv h2 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#animeName {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 300;
    opacity: 0.93;
    padding-bottom: 1px;
}

.airingStatsuDiv {
    height: inherit;
    float: left;
}

#airingStatus {
    position: relative;
    top: 35%;
    transform: translateY(-50%);
    margin-bottom: 2px;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: auto;
}

#animeInteractions {
    margin-right: 20px;
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

#playNext {
    margin-right: 10px;
}


/************************/

#animeGenre {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#detailsRow {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.coverImage {
    /*
    padding-left: 10;
    padding-right: 0;
    */
    align-items: center;
    align-content: center;
    float: left;
    transition: box-shadow .3s;
    margin-bottom: 5px;
}

.coverImage:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
}

.cIm {
    width: 205px;
    height: 275px;
    padding-right: 0px;
}

.cIm img {
    object-fit: fill;
    width: 205px;
    height: 275px;
}

.cardColumn {
    padding-left: 10px;
    padding-right: 0px;
    float: left;
}

.detailCard {
    width: 205px;
    height: 65px;
    margin-bottom: 5px;
    transition: box-shadow .3s;
}

.detailCard:hover {
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
}

#animeGenre {
    height: 41px;
    display: block;
    background-color: #f9f9f9;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
}

.animeGenreChip {
    background-color: $secondaryColor;
    margin-left: 2px;
    margin-right: 2px;
    font-weight: 400;
}

#col1 {
    //background-color: black;
}

#col2 {
    //background-color: skyblue;
}

#typeCard {
    background-image: url("./../assets/images/detailsCards/type/alt-tv.png");
}

#sourceCard {
    background-image: url("./../assets/images/detailsCards/source/unknown-50.png");
    background-color: crimson;
}

#card3 {
    background-color: cornflowerblue;
}

#card4 {
    background-color: darkviolet;
}


/**********ScoreCard************/

#scoreCard {
    background-color: cadetblue;
    display: flex;
    flex-direction: row;
    color: white;
}

#malScore {
    height: inherit;
    width: 50%;
    float: left;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    color: white;
}

#userScore {
    height: inherit;
    width: 50%;
    float: left;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.scoreButton {
    background-color: transparent;
    border: 0px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: -2px;
}

#scoreCard h5 {
    opacity: 0.87
}


/*****/

#episodeCard {
    background-color: rebeccapurple;
    display: flex;
    flex-direction: row;
    color: white;
}

#epTotal {
    height: inherit;
    width: 50%;
    float: left;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    color: white;
    text-transform: uppercase;
}

#epWatched {
    height: inherit;
    width: 50%;
    float: left;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.inputArea {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
    justify-content: center;
    margin-top: -3px;
}

#progressMinus,
#progressPlus {
    margin-bottom: -2px;
}

#episodeCard h5 {
    margin-bottom: 5px;
    opacity: 0.87
}

.episodeInput {
    background-color: transparent;
    width: 40px;
    border: 0px;
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
}


/*************************/

.card-twoLine {
    text-transform: uppercase;
    color: white;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    line-height: 15px;
    overflow: hidden;
    padding-bottom: 2px;
    padding-left: 2px;
}

.cardInfo h3 {
    font-family: 'Roboto';
    color: white;
    margin-left: 5px;
    margin-bottom: 3px;
}

.cardInfo h4 {
    font-family: 'Roboto';
    color: white;
    margin-left: 5px;
    margin-bottom: 3px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.cardInfo h5 {
    font-family: 'Roboto';
    font-weight: 500;
    opacity: 0.87;
    color: white;
    padding-top: 10px;
    margin-left: 5px;
    margin-bottom: 3px;
}


/********StatusCard********/

#statusCard {
    background-color: darkslategray;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    color: white;
    text-transform: uppercase;
}

#statusCard h5 {
    margin-bottom: 5px;
    opacity: 0.87
}

.statusButton {
    background-color: transparent;
    text-transform: uppercase;
    border: 0px;
    width: 180;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin-bottom: -2px;
}


/******Season Cards********/

.card-season {
    text-transform: uppercase;
    color: white;
    text-align: left;
    display: flex;
    align-items: flex-end;
}

.season-winter {
    background-image: url("./../assets/images/detailsCards/season/winter.png");
    text-shadow: rgb(7, 53, 92) 2px 0px 0px, rgb(7, 53, 92) 1.75517px 0.958851px 0px, rgb(7, 53, 92) 1.0806px 1.68294px 0px, rgb(7, 53, 92) 0.141474px 1.99499px 0px, rgb(7, 53, 92) -0.832294px 1.81859px 0px, rgb(7, 53, 92) -1.60229px 1.19694px 0px, rgb(7, 53, 92) -1.97998px 0.28224px 0px, rgb(7, 53, 92) -1.87291px -0.701566px 0px, rgb(7, 53, 92) -1.30729px -1.5136px 0px, rgb(7, 53, 92) -0.421592px -1.95506px 0px, rgb(7, 53, 92) 0.567324px -1.91785px 0px, rgb(7, 53, 92) 1.41734px -1.41108px 0px, rgb(7, 53, 92) 1.92034px -0.558831px 0px;
}

.season-spring {
    background-image: url("./../assets/images/detailsCards/season/spring.png");
    text-shadow: rgb(37, 25, 21) 2px 0px 0px, rgb(37, 25, 21) 1.75517px 0.958851px 0px, rgb(37, 25, 21) 1.0806px 1.68294px 0px, rgb(37, 25, 21) 0.141474px 1.99499px 0px, rgb(37, 25, 21) -0.832294px 1.81859px 0px, rgb(37, 25, 21) -1.60229px 1.19694px 0px, rgb(37, 25, 21) -1.97998px 0.28224px 0px, rgb(37, 25, 21) -1.87291px -0.701566px 0px, rgb(37, 25, 21) -1.30729px -1.5136px 0px, rgb(37, 25, 21) -0.421592px -1.95506px 0px, rgb(37, 25, 21) 0.567324px -1.91785px 0px, rgb(37, 25, 21) 1.41734px -1.41108px 0px, rgb(37, 25, 21) 1.92034px -0.558831px 0px;
}

.season-summer {
    background-image: url("./../assets/images/detailsCards/season/summer.png");
    text-shadow: rgb(52, 80, 25) 2px 0px 0px, rgb(52, 80, 25) 1.75517px 0.958851px 0px, rgb(52, 80, 25) 1.0806px 1.68294px 0px, rgb(52, 80, 25) 0.141474px 1.99499px 0px, rgb(52, 80, 25) -0.832294px 1.81859px 0px, rgb(52, 80, 25) -1.60229px 1.19694px 0px, rgb(52, 80, 25) -1.97998px 0.28224px 0px, rgb(52, 80, 25) -1.87291px -0.701566px 0px, rgb(52, 80, 25) -1.30729px -1.5136px 0px, rgb(52, 80, 25) -0.421592px -1.95506px 0px, rgb(52, 80, 25) 0.567324px -1.91785px 0px, rgb(52, 80, 25) 1.41734px -1.41108px 0px, rgb(52, 80, 25) 1.92034px -0.558831px 0px;
}

.season-fall {
    background-image: url("./../assets/images/detailsCards/season/fall.png");
    text-shadow: rgb(64, 38, 30) 2px 0px 0px, rgb(64, 38, 30) 1.75517px 0.958851px 0px, rgb(64, 38, 30) 1.0806px 1.68294px 0px, rgb(64, 38, 30) 0.141474px 1.99499px 0px, rgb(64, 38, 30) -0.832294px 1.81859px 0px, rgb(64, 38, 30) -1.60229px 1.19694px 0px, rgb(64, 38, 30) -1.97998px 0.28224px 0px, rgb(64, 38, 30) -1.87291px -0.701566px 0px, rgb(64, 38, 30) -1.30729px -1.5136px 0px, rgb(64, 38, 30) -0.421592px -1.95506px 0px, rgb(64, 38, 30) 0.567324px -1.91785px 0px, rgb(64, 38, 30) 1.41734px -1.41108px 0px, rgb(64, 38, 30) 1.92034px -0.558831px 0px;
}

.seasonInfo {
    font-family: 'Roboto';
    font-weight: 400;
    margin-left: 5px;
    margin-bottom: 3px;
}


/*********************/


/****Button Row*******/


/*Can i make a Jenson Button joke?***/

#buttonRow {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
}

#buttonContainer {
    display: flex;
    width: 655px;
    background-color: white;
}

.chiika-button {
    background-color: #00796B;
    color: white;
    font-family: sans-serif, 'Roboto';
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    border-radius: 2px;
    border: 0px;
    padding-top: 3px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 5px;
    margin-right: 5px;
    transition: background-color .3s, box-shadow .3s;
    outline: none;
}

.chiika-button:hover {
    background-color: #00695C;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, .6);
}


/****Synopsis Row*****/

#synopsisRow {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.synopsisContainer {
    display: flex;
    width: 655px;
}

.synopsisColumn {
    height: inherit;
    width: 66%;
    float: left;
    display: flex;
    flex-direction: column;
}

.synopsisColumn h3 {
    text-align: left;
    float: left;
    margin-top: 10px;
    margin-left: 25px;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 300;
    text-transform: capitalize;
    color: black;
    opacity: 0.87;
}

.synopsisColumn p {
    float: left;
    margin-left: 15px;
    margin-right: 10px;
    word-wrap: normal;
    word-break: initial;
    text-align: left;
}

.characterColumn {
    height: inherit;
    width: 33%;
    float: right;
}

.characterColumn h3 {
    text-align: right;
    float: right;
    margin-top: 10px;
    margin-right: 25px;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 300;
    text-transform: capitalize;
    color: black;
    opacity: 0.87;
}