.detailsPage {
  width: 100%;
  display: flex;
}

/** Left **/

.detailsPage-left {
  position: fixed;
  width: 150px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $grey-2;
  padding: 8px 8px;
}

.detailsPage-back {
  width: 100%;
  padding: 4px 2px;
  font-size: 18px;
  display: flex;
  border-radius: 2px;
  margin-bottom: 2px;
  align-items: center;
  border-bottom: 1px solid $grey-3;
  color: $main-text;
}

.detailsPage-back:hover {
  background-color: darken($grey-3, 10);
}
.detailsPage-left img {
  cursor: pointer;
}
.detailsPage-back span {
  font-size: 18px;
  margin-left: 4px;
}
.detailsPage-left button {
  margin-left: 0;
  margin-right: 0;
  margin-top: 8px;
  width: 100%;
  transition: all .6s;
}
.userStatusButton.open {
  box-shadow: none;
}

.detailsPage-left .userStatus {
  max-height: 0;
  overflow: hidden;
  transition: all .8s;
}
.detailsPage-left .userStatus.open {
  max-height: 250px;
}
.userStatus .status {
  font-weight: bold;
  border-bottom: 1px solid $grey-3;
  border-radius: 2px;
  padding: 6px 4px;
  cursor: pointer;
  color: $main-text;
}
.userStatus .status:last-child {
  border-bottom: none;
}
.userStatus .status:hover {
  background-color: $grey-3;
}
.userStatus .status.current {
  color: $color-primary;
}
/** Right **/

.detailsPage-right {
  margin-left: 166px;
  width: 100%;
  padding: 8px;
  overflow: auto;
}
.detailsPage-row {
  margin-bottom: 8px;
  margin-top: 8px;
}
.detailsPage-genre {
  display: inline-block;
  padding-bottom: 8px;
}
.detailsPage-row > h1,
.detailsPage-row > h2 {
  margin-bottom: 2px;
  color: $main-text;
}
.detailsPage-row > h2 {
  font-size: 20px;
  opacity: 0.87;
}
.detailsPage-genre > ul {
  margin: 0;
  padding: 0;
}
.detailsPage-genre > ul > li {
  display: inline;
  padding: 0px 4px;
  opacity: 0.6;
  color: $main-text;
}
.detailsPage-genre > ul > li:first-child {
  padding: 0px 4px 0px 0px;
}
.detailsPage-score {
  display: flex;
}
.detailsPage-score-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 16px;
}
.detailsPage-score-info > h5 {
  margin-top: 0;
}
.detailsPage-score-info > span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: $main-text;
}
.detailsPage-score-info > span > h5 {
  margin: 0;
  color: $main-text;
  margin-right: 4px;
}
.detailsPage-score-info h5 span {
  font-size: 20px;
  color: $main-text;
}
.detailsPage-score-info h5 span:nth-child(2) {
  color: $color-emphasis;
}
.detailsPage-miniCards {
  display: inline-flex;
  flex-wrap: wrap;
}
.detailsPage-miniCards > .card {
  margin-top: 4px;
  text-align: center;
  padding: 8px;
}
.detailsPage-miniCards > .card > .title {
  margin-bottom: 6px;
  margin: -4px -8px 12px -8px
}
.detailsPage-miniCards > .card > p, .score-select {
  font-size: 18px;
  margin: 1px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mini-card-title {
  margin: 0;
  margin-bottom: 2px;
}
.score-circle-div {
  position: relative;
}
.score-circle-div:after {
  content:attr(data-score);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 20px;
  font-weight: 500;
  color: $color-emphasis;
}

/*Fix this*/
// .content {
//   width: auto!important;
//   height: auto!important;
// }


.card .title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: -4px -16px 12px -16px;
  padding-left: 16px;
  padding-right: 16px;
}
.detailsPage-card-item {
  margin-bottom: 16px;
}


/* Progress Interactions */
.progressInteractions {
  width: 100%;
  background-color: rgba(255,255,255,0.5);
  box-shadow: 0px 2px 4px rgba(128, 128, 128, 0.3);
  margin: 4px 0px;
  border-radius: 4px;
  opacity: 0;
  animation: openProgress 1.4s;
  animation-fill-mode: forwards;
}
.progressInteractions:last-child {
  animation-delay: .3s;
}
/* Necessary? */
@keyframes openProgress {
  from { }
  to {
    opacity: 1;
  }
}
.progressInteractions > .title {
  border-bottom: 1px solid rgba($main-text, 0.25);
  text-align: center;
  padding: 4px 0px;
  height: 19px;
  vertical-align: middle;
}
.progressInteractions > .interactions {
  display: flex;
  justify-content: space-between;
}
.interactions > .number {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.interactions > .number  span,
.interactions > .number > input {
  font-size: 18px;
  background:transparent;
}
.interactions > .number > input {
  width: 40%;
  height: 75%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  outline: none;
  text-align: center;
}
.interactions > .minus,
.interactions > .plus {
    width: 48px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    transition: .3s all;
    //background-color: rgba(255,255,255,0.5);
    margin-top: 0;
    background: transparent;

}
.interactions > .minus {
  color: $color-danger-main;
  border-bottom-left-radius: 4px;
  border-right: 1px solid  rgba($main-text, 0.25);
}
.interactions > .minus:hover {
  background-color: rgba($color-danger-dark,0.6);
  color: white;
}
.interactions > .minus:active {
  background-color: $color-danger-main;
  color: white;
}
.interactions > .plus {
  color: $color-success-main;
  border-bottom-right-radius: 4px;
  border-left: 1px solid  rgba($main-text, 0.25);
}
.interactions > .plus:hover {
  background-color: rgba($color-success-dark,0.6);
  color: white;
}
.interactions > .plus:active {
  background-color: $color-success-main;
  color: white;
}
.characters-images {
  display: flex;
  overflow-x: auto;
}
.characters-images > div {
  transition: all .3s;
  cursor: pointer;
}

.characters-images > div:hover {
//  transform: scale(1.1);
}
  .characters-images img {
    width: 100%;
    height: 100%;
  }
  .characters-images div {
    padding: 4px;
    background-color: white;
    max-height: 275px;
    max-width: 166px;
    min-height: 166px;
    min-width: 100px;
}

/*fab*/
.fab-container {
  width: 60px;
  left: 294px;
  bottom: 25px;
  position: fixed;
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: center;
}
.fab{
  box-shadow: 0px 0px 4px rgba(12, 12, 12, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 24px;
  color: $main-text;
}
.fab-main {
  height: 60px;
  width: 60px;
  right: 25px;
  bottom: 25px;
  background-color: #D32F2F;
  border-radius: 50%;
  font-size: 24px;
  color: white;
  font-weight: bold;
  margin: 8px auto;
}
.fab-little {
  margin: 4px auto;
  width: 40px;
  height: 40px;
  right: 30px;
  background-color: #E4E4E5;
  transform: scale(0);
  transition: all .3s;
}
.fab-little:hover:after {
  content: attr(title);
  position: absolute;
  background: black;
  color: white;
  padding: 4px;
  font-size: 14px;
  right: 50px;
  border-radius: 4px;
  width: auto;
  white-space: nowrap;
  top: 8px;
}
.fab-container.active .fab-little {
  transform: scale(1);
}

.progress-test:hover:after {
  content: attr(title);
  position: relative;
  background: black;
  color: white;
  padding: 4px;
  font-size: 14px;
  right: 50px;
  border-radius: 4px;
  width: auto;
  white-space: nowrap;
  top: 8px;
}
