.library-sign {
  text-align: center;
}
.library-info {
  background: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 6px;
  text-align: center;
  margin: 4px;
  display: inline-block;
  i {
    font-size: 24px;
    margin-right: 4px;
  }
  span,
  i {
    vertical-align: middle;
    text-align: center;
  }
  .library-count {
    font-size: 28px;
  }
}
.bookshelf {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.bookshelf > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.bookshelf-item {
  display: inline-block;
  width: 150px;
  height: 275px;
  margin: 8px;
  padding: 4px;
  border-radius: 4px;
  background: rgba(255,255,255,0.5);
  border: 1px solid #ddd;
  transition: .2s box-shadow ease-out, .2s transform;
}
.bookshelf-item:hover {
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  /*background: rgba(255, 255, 255, 0.7);*/
}
.bookshelf-item img {
  z-index: 1;
  width: 150px;
  height: 225px;
  transition: all .5s;
  top: 0;
  left: 0;
}
.bookshelf-item .bookshelf-title {
  width: calc(100% - 4px);
  padding: 4px 2px;
  padding-bottom: 0;
  font-size: 16px;
  font-weight: 300;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #333;
}

.bookshelf-item .service-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.service-list .service-label {
  background: #7695C6;
  margin: 0 2px;
  padding: 2px 4px;
  font-size: 10px;
  color: white;
  border-radius: 2px;
  font-family: montserrat;
}
.service-label.hummingbird {
  background: #F06439;
}
.service-label.myanimelist {
  background: #3A64AC;
}
.service-label.anilist {
  background: #2A72AB;
}
.service-label.chiika {
  background: #CB3972
}
.bookshelf-book {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 75%;
  background: rgba(0, 0, 0, 0.83);
  animation: takeBook .75s forwards;
  overflow-x: hidden;
  overflow-y: auto;
  color: white;
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.4);
  transform: translateX(-110%);
  animation: openBook .6s forwards;
}

.bookshelf-book.open {
  opacity: 1;
  transition: opacity .6s, transform .6s;
}
@keyframes openBook {
  from {}
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
/*
.bookshelf-item {
  transform: scale(0.75);
  animation: openBookshelf .3s forwards;
  animation-delay: 1s;
}
@keyframes openBookshelf {
  from {}
  to {
    transform: scale(1);
  }
}
*/

.bookshelf-book h3 {
  width: 80%;
}
.book-cover {
  display: flex;
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid rgba(255,255,255,0.3);
}
.book-meta {
  flex-grow: 1;
  padding: 0 8px;
}

.book-index {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.book-inside {
  padding: 0 8px;
}
.book-inside {
  white-space: nowrap;
}
.book-chapter {
  margin: 0 2px 2px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 500;
  width: 66px;
  height: 66px;
  background: #eee;
  border-radius: 2px;
  flex-grow: 0;
  flex-shrink: 0;
  cursor: pointer;
}
.book-chapter::before{
  content: attr(data-ep);
  transition: transform .2s;
  position: absolute;
}
.book-chapter.exists:hover::before,
.book-chapter.available:hover::before {
  transform: scale(0);
}
.book-chapter.exists:hover::after {
  content: "\f01d";
  font: normal normal normal 24px/1 FontAwesome;
  transform: scale(0);
  animation: changeBook .2s forwards;
}
.book-chapter.available:hover::after {
  content: "\f09e";
  font: normal normal normal 24px/1 FontAwesome;
  transform: scale(0);
  animation: changeBook .2s forwards;
}
@keyframes changeBook {
  from{}
  to {
    transform: scale(1);
  }
}
.book-chapter.exists {
  color: $color-success-dark;
}
.book-chapter.exists:hover {
  background:  $color-success-dark;
  color: white;
}
.book-chapter.available {
  color: $color-info-main;
}
.book-chapter.available:hover {
  background: $color-info-main;
  color: white;
}
.book-chapter.not-available {
  color: grey;
}
.bookshelf-back {
  width: 30px;
  height: 30px;
  background: red;
  position: absolute;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
}
.book-meta form .text-input {
  display: inline-block;
  width: calc(100% - 50px);
}
.book-meta form button {
  height: 33px;
}
#folder-button::after {
  content: "\f07b";
  font: normal normal normal 14px/1 FontAwesome;
}
