.listCommon {
  width: 100% !important;
  height: 100%;
}
.resizing {
  cursor: col-resize;
}
/* */
/*
// FIXME:
#chiika-list > div {
  overflow-x: scroll;
  height: calc(100% - 30px);
}
*/
.chiika-table {
  width: 100%;
  overflow: auto;
}
.chiika-header {
  display: flex;
  background: #eee;
}
$border-size: 2px;
$row-border-color: #DCDFE4;
.header-title {
  border-bottom: 1px solid #ddd;
  border-right: $border-size solid $grey-3;
  padding: 8px 0;
  padding-left: 2px;
  font-weight: bold;
  flex-grow: 0;
}
.list-item {
  display: flex;
  width: auto;
}
.list-item.selected {
  background: rgba($color-accent,0.1);
}
.list-item > div {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: $border-size;
  border-bottom: 1px solid $row-border-color;
  flex-grow: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: $main-text;
}

.list-item > div {
  border-right: $border-size solid $row-border-color;
}

.header-animeTypeText {
  width: 40px;
  flex-basis: 40px;
  flex-grow: 0!important;
}
.col-animeTypeText {
  width: 40px;
  flex-basis: 40px;
  flex-grow: 0!important;
}

.header-animeTitle {
  overflow: hidden;
  width: 200px;
  white-space: nowrap;
  flex-grow: 2!important;
}
.col-animeTitle {
  width: 200px;
  flex-grow: 2!important;
}

.header-animeProgress {
  width: 120px;
}
.col-animeProgress {
  width: 120px;
}

.header-animeScoreAverage {
  width: 100px;
}
.col-animeScoreAverage {
  width: 100px;
}

.header-animeScore {
  width: 100px;
}
.col-animeScore {
  width: 100px;
}

.header-animeSeason{
  width: 120px;
}
.col-animeSeasonText {
  width: 120px;
}

.header-animeLastUpdatedText {
  width: 160px;
}
.col-animeLastUpdatedText {
  width: 160px;
}


/*******/
.list-item-expanded {
  border-bottom: 1px solid $row-border-color;
}
.list-item-expanded > div {
  display: flex;
}
.expanded-cover {
  width: 124px;
  height: 186px;
  display: inline-block;
}
.expanded-meta {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-right: $border-size solid $row-border-color;
}
.expanded-meta h5 {
  border-bottom: 1px solid $row-border-color;
  padding-left: 8px;
}
.expanded-rate,
.expanded-watch {
  display: flex;
  padding-left: 8px;
}
.expanded-rate span,
.expanded-watch span {
  width: 16px;
  height: 16px;
  padding: 4px;
  background:  #dedee2;
  color: $main-text;
  text-align: center;
  margin: 1px;
  border-radius: 2px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.expanded-rate span.selected {
  background: $color-info-main;
  color: white;
}
.expanded-watch span.watched {
  background:$color-success-main;
  color: white;
}
.expanded-watch span.aired {
  color:$color-info-main;
}
/* */
/****************************************/
/* Failure attempt */
// .dhxtabbar_tab_actv {
//   color: $main-text!important;
//   background-color: inherit!important;
//   border: none;
//   border-bottom: 2px solid $color-primary;
// }
// .dhxtabbar_tab {
//   color: $main-text!important;
//   border: none;
// }
// .dhxtabbar_tabs_base {
//   display: inline-block;
//   cursor: default;
//   background-color: inherit;
//   padding: 4px;
//   text-align: center;
// }
/* Failure attempt end */
/*****************************************************/
.list-last-updated,
.list-season {
  text-align: right;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 12px!important;
}
.list-score.not-scored {
  opacity: 0.6;
}
.list-last-updated span {
  font-size: 12px!important;
}
.list-last-updated span,
.list-score {
  font-weight: 500;
};
/*****************************************************/
.react-tabs {
  background-color: inherit;
}
.react-tabs [role=tablist] {
  font-size: 16px;
  text-align: left;
  margin: 0;
  background-color: $grey-0;
  border-bottom: 1px solid $grey-1;
}
.react-tabs ul {
  margin-bottom: 2px;
  width: inherit;
  margin: 0;
  background-color: inherit;
  padding: 0;
}
.react-tabs ul li {
  text-align: center;
  margin-left: 25px;
}
.react-tabs [role=tab] {
  display: inline-block;
  cursor: default;
  background-color: inherit;
  padding: 4px;
  text-align: center;
}
.react-tabs [role=tab][aria-selected=true] {
  color: $main-text;
  background-color: inherit;
  border: none;
  border-bottom: 2px solid $color-primary;
}
.react-tabs [role=tab][aria-selected=false] {
  color: $main-text;
  border: none;
}
.react-tabs [role=tab]:focus,
.react-tabs [role=tab][aria-disabled=true]:focus,
.react-tabs [role=tab][aria-selected=false]:focus,
.react-tabs [role=tab][aria-selected=true] {
  background-color: inherit;
  outline: none;
  box-shadow: none;
  border-bottom: 2px solid $color-primary;
}
.react-tabs [role=tab][aria-selected=false]:hover {
  color: $main-text;
  border-bottom: 2px solid $color-primary;
}
.react-tabs .tab span {
  border: none;
}
.react-tabs [role=tab]:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: 0;
  right: 0;
  bottom: -5px;
  background: $color-primary;
}
