.listCommon {
  height: 100%;
}

// Header Row
.w2ui-grid .w2ui-grid-body .w2ui-grid-columns,
.w2ui-grid .w2ui-grid-body .w2ui-grid-fcolumns{
  box-shadow: 0px 2px 2px rgba(120,120,120,0.1)!important;
}
// List title
.w2ui-head {
  color: color($userColor, a700)!important;
  font-weight: 500;
  font-size: 1.4em;
  background-image: linear-gradient(#fafafa, #fafafa)!important;
  border-right: 0px!important;
  border-bottom: 0px!important;
  cursor: default;
}

// Body
.w2ui-grid .w2ui-grid-body .w2ui-grid-records, .w2ui-grid .w2ui-grid-body .w2ui-grid-frecords {
  background-color: $body-bg;
}
/** List items overriding! **/
.w2ui-grid-data {
  /* I think this is better
    color: black;
    opacity: 0.90;
    */
  height: 100%;
  font-size: 1.3em;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  border-bottom: 1px solid #f5f5f5!important;
  border-right: 0px!important;
}
/***Odd Rows***/
.w2ui-grid .w2ui-grid-body table tr.w2ui-odd td.w2ui-grid-data > div:not(.progress-bar) {
  padding-top: 0.5em !important;
  padding-bottom: 0.5em !important;
}

.w2ui-grid .w2ui-grid-body table tr.w2ui-odd {
  background-color: $body-bg!important;
}
.w2ui-grid .w2ui-grid-body table tr.w2ui-odd:hover {
  background-color: color($grey, 50)!important;
}
.w2ui-grid .w2ui-grid-body table tr.w2ui-odd:active {
  background-color: color($grey, 100)!important;
}
/***Even Rows***/
.w2ui-grid .w2ui-grid-body table tr.w2ui-even td.w2ui-grid-data > div {
  padding-top: 0.5em ;
  padding-bottom: 0.5em ;
}
.w2ui-grid .w2ui-grid-body table tr.w2ui-even {
  background-color:$body-bg!important;
}
.w2ui-grid .w2ui-grid-body table tr.w2ui-even:hover {
  background-color: color($grey, 50)!important;
}
.w2ui-grid .w2ui-grid-body table tr.w2ui-even:active {
  background-color: color($grey, 100)!important;
}
/***All Rows : Selected***/
.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr td.w2ui-selected,
.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-selected {
  background-color: color($blue-grey, 50)!important;
}
.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-odd:active {}

/*** All rows progress-bar ***/
.w2ui-grid .w2ui-grid-body table tr.w2ui-odd td.w2ui-grid-data > .progress-bar,
.w2ui-grid .w2ui-grid-body table tr.w2ui-even td.w2ui-grid-data > .progress-bar {
  padding: 0;
  margin: 0;
}

//Override Tab page border
.w2ui-grid {
  border: 0px!important;
}
.w2ui-col-header {
  text-transform: uppercase;
  font-family: Montserrat;
}

.w2ui-empty-record{
  display: none;
}

#gridWatchingList {}
#gridPlantoWatchList {}
#gridDroppedList {}
#gridOnHoldList {}
#gridCompletedList {}
.react-tabs {
  background-color: inherit;
}
.react-tabs [role=tablist] {
  font-size: 16px;
  text-align: left;
  margin: 0;
  background-color: $grey-0;
  border-bottom: 1px solid #eee;
}
.react-tabs ul {
  margin-bottom: 2px;
  width: inherit;
  margin: 0;  background-color: inherit;
  padding: 0;
}
.react-tabs ul li {
  text-align: center;
  margin-left: 25px;
}
.react-tabs [role=tab] {
  display: inline-block;
  cursor: default;
  background-color: inherit;
  padding: 4px;
  text-align: center;
}
.react-tabs [role=tab][aria-selected=true] {
  color: black;
  background-color: inherit;
  border: none;
  border-bottom: 3px solid color($userColor, 600);
}
.react-tabs [role=tab][aria-selected=false] {
  color: black;
  border: none;
}
.react-tabs [role=tab][aria-disabled=true] {}
.react-tabs [role=tab]:focus,
.react-tabs [role=tab][aria-disabled=true]:focus,
.react-tabs [role=tab][aria-selected=false]:focus,
.react-tabs [role=tab][aria-selected=true],
{
  background-color: inherit;
  outline: none;
  box-shadow: none;
  border-bottom: 3px solid color($userColor, 600);
}
.react-tabs [role=tab][aria-selected=false]:hover {
  color: black;
  opacity: 0.87;
  border-bottom: 2px solid color($userColor, 600);
}
.react-tabs [role=tab]:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}
