.listCommon {
  width: 100% !important;
  height: 100%;
}
/****************************************/
div.gridbox .objbox {
  background-color: $body-bg;
}
div.gridbox_material.gridbox .xhdr {
  background-color: $body-bg;
  border: none;
}
div.gridbox_material.gridbox table.hdr tr {
  background-color: $body-bg;
}
div.gridbox_material.gridbox table.obj tr td {
  padding-right: 4px;
  padding-left: 4px;
  overflow: hidden;
}
div.gridbox_material.gridbox table.hdr td {
  border-bottom: 1px solid $grey-0;
  border-right: 1px solid $grey-1;
  border-left: none;
  overflow: hidden;
  empty-cells: show;
  white-space: normal;
  -webkit-user-select: none;
  user-select: none;
  padding: 9px 0 8px;
  background-color: $body-bg-2;
  color: $main-text;
  vertical-align: top;
  text-align: left;
  text-transform: uppercase;
  position: relative;
}
div.gridbox_material.gridbox table.hdr tr:nth-child(2) td {
  border-top: 1px solid $grey-0;
}
div.gridbox_material.gridbox {
  border: none;
}
div.gridbox_material.gridbox table.obj tr td {
  padding-top: 3px;
  padding-bottom: 4px;
  background-color: $body-bg;
  color: $main-text;
}
div.gridbox_material.gridbox table.obj.row20px tr td {
  padding-top: 0;
  padding-bottom: 0;
  height: 32px;
  line-height: 32px;
  border-bottom: 1px solid $grey-0;
  border-right: none;
}
div.gridbox_material.gridbox table.obj.row20px tr td:last-child {
  border-right: none;
}
div.gridbox_material.gridbox table.obj tr td.editable .dhx_combo_edit {
  margin-left: -3px;
}
div.gridbox_material.gridbox table.obj tr td.editable .dhxcombo_in_grid_parent {
  margin-left: -3px !important;
}
div.gridbox_material.gridbox table.obj tr td.editable:first-child {
  border: 0 solid white!important;
  padding-left: 4px !important;
}
div.gridbox_material.gridbox table.obj tr td.editable div.treegrid_cell {
  padding: 1px 4px;
}
div.gridbox_material.gridbox table.obj tr.rowselected {
  background-color: $body-bg;
}
div.gridbox_material.gridbox table.obj tr.rowselected td {
  background-color: $body-bg;
}
div.gridbox_material.gridbox table.obj tr td:first-child {
  padding-left: 10px;
}
div.gridbox_material.gridbox table.obj tr.rowselected td:first-child {
  border-left: 2px solid $accent;
  padding-left: 8px;
}
div.gridbox_material.gridbox table.obj.row20px tr.rowselected td {
  border-right-color: #eee;
  background-color: $grey-1;
  color: $main-text;
}
div.gridbox_material.gridbox table.obj tr td.cellselected {
  background-color: $grey-1;
  color: $main-text;
}
div.gridbox_material.gridbox .odd_material {
  background-color: $body-bg;
  color: $main-text;
}
div.gridbox_material.gridbox .ev_material {
  background-color: $body-bg;
  color: $main-text;
}
.gridbox_material.gridbox .dhx_combo_edit {
  padding: 1px 0 0 4px;
}
.gridbox_material.gridbox .dhx_sub_row {
  background-color: transparent;
}
.dhxgrid_sort_asc,
.dhxgrid_sort_desc {
  width: 0;
  height: 0;
}
div.gridbox_material.gridbox table.hdr td div.hdrcell {
  overflow: hidden;
  width: auto;
  padding-left: 4px;
  font-size: 12px;
  font-family: Montserrat, 'sans-serif';
  padding-top: 1px;
  padding-bottom: 1px;
}
div.gridbox_material.gridbox table.hdr td.dhxgrid_sort_asc_col,
div.gridbox_material.gridbox table.hdr td.dhxgrid_sort_desc_col,{
  padding-right: 0;
  background: none;
  color: $accent;
  position: relative;
}

div.gridbox_material.gridbox table.hdr td.dhxgrid_sort_asc_col div,
div.gridbox_material.gridbox table.hdr td.dhxgrid_sort_desc_col div {
  padding-right: 0px;
}

div.gridbox_material.gridbox table.obj.row20px tr td img {
  display: block;
}
div.gridbox_material.gridbox table.obj.row20px tr td .treegrid_cell img,
div.gridbox_material.gridbox table.obj.row20px tr td.group_row img {
  display: inline;
}
div.gridbox_material.gridbox table.obj tr:hover td {
  background-color: $grey-0;
}
/*****************************************************/
.list-last-updated,
.list-season {
  text-align: right;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 12px!important;
}
.list-score.not-scored {
  opacity: 0.6;
}
.list-last-updated span {
  font-size: 12px!important;
}
.list-last-updated span,
.list-score {
  font-weight: 500;
};
/*****************************************************/
#gridWatchingList {}
#gridPlantoWatchList {}
#gridDroppedList {}
#gridOnHoldList {}
#gridCompletedList {}
.react-tabs {
  background-color: inherit;
}
.react-tabs [role=tablist] {
  font-size: 16px;
  text-align: left;
  margin: 0;
  background-color: $grey-0;
  border-bottom: 1px solid $grey-1;
}
.react-tabs ul {
  margin-bottom: 2px;
  width: inherit;
  margin: 0;
  background-color: inherit;
  padding: 0;
}
.react-tabs ul li {
  text-align: center;
  margin-left: 25px;
}
.react-tabs [role=tab] {
  display: inline-block;
  cursor: default;
  background-color: inherit;
  padding: 4px;
  text-align: center;
}
.react-tabs [role=tab][aria-selected=true] {
  color: $main-text;
  background-color: inherit;
  border: none;
  border-bottom: 2px solid $accent;
}
.react-tabs [role=tab][aria-selected=false] {
  color: $main-text;
  border: none;
}

.react-tabs [role=tab]:focus,
.react-tabs [role=tab][aria-disabled=true]:focus,
.react-tabs [role=tab][aria-selected=false]:focus,
.react-tabs [role=tab][aria-selected=true] {
  background-color: inherit;
  outline: none;
  box-shadow: none;
  border-bottom: 2px solid $accent;
}
.react-tabs [role=tab][aria-selected=false]:hover {
  color: $main-text;
  border-bottom: 2px solid $accent;
}
.react-tabs [role=tab]:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: 0;
  right: 0;
  bottom: -5px;
  background: $accent;
}
