@import "chiika-palette";
@import "sideBar";
@import "Lists";
@import "MalLogin";
@import "menubar";
@import "Details";
@import "_Statusbar";
@import "_Calendar";
@import "_titlebar";
@import "_chiika-palette";
@import "_home";
@import "_settings";
@import "_login";
@import "fullPage";
@import "_scrollbar";
@import "_desktop-notification";
@import "_search";
@import "_Library";

.hidden {
  display: none;
}

.main {
  height: 100vh;
  float: right;
  width: calc(100% - #{$sidebar-width});
}
.content {
  height: calc(100% - #{$titlebar-height});
  overflow-y: auto;
  background-color: $body-bg-2;
}
.blur {
  -webkit-filter: blur(10px);
}
.highlightred {
  border: red 1px solid !important;
}
.highlightgreen {
  border: green 1px solid !important;
}
.label {
  padding: 4px 6px;
}
td {
  background-image: '';
}
.list-grid-title {
  width: 100vh;
}
.loading-screen {
  background-color: #333;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100vh;
  -webkit-app-region: drag;
}
.loading-small {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: calc(100%); // Hackz
  background: #eee;
}
.loading-small > div {
  position: relative;
  z-index: 2;
  //background:green;
}
.loading-small > div:before {
  content: '';
  width: 100%;
  bottom: 5px;
  top: 100%;
  position: absolute;
  background: linear-gradient($color-primary, $color-accent);
  opacity: 0.5;
  z-index: -1;
  animation: chiikaFill 4s infinite ease-out;
}
@keyframes chiikaFill {
  0%{}
  80% {
    top: 0;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.loading-small svg {
  z-index: 2;
}
.chiika-logo-path {
  stroke-dasharray: 3652;
  stroke-dashoffset: 3652;
  animation: dash 4s linear infinite;
  stroke: transparent;
  transform-origin: center center;
}
/*
.loading-small:after {
  content: 'Loading...';
  position: absolute;
  font-size: 36px;
  font-weight: 300;
  color: transparent;
  animation: dash 5s linear infinite;
  font-style: italic;
}
*/
@keyframes dash {
  from {
    stroke-dashoffset: 3652;
  }
  to {
    stroke-dashoffset: 0;
    stroke: $color-primary;
    color: $color-emphasis;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display:none;
    -webkit-appearance: none;
    margin: 0;
}
a {
  text-decoration: none;
  color: $link-text;
}

.toast {
  padding: 8px 8px 8px 0;
  color: white!important;
  top: 60px;
  right: 15px;
}
.toast.timer {
  color: #282C34;
}
.toast::before {
  content: '';
  margin: -8px 8px -8px 0;
  padding: 0 4px;
  font: normal normal normal 24px/1 "Material Design Icons";
  background: rgba(0,0,0,0.2);
  text-align: center;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.toast.success::before{
  content: '\F12C';
}
.toast.warning::before{
  content: "\F205";
}
.toast.info::before{
  content: "\F2FD";
}
.toast.timer::before{
  content: "\F150";
}
.toast.danger::before{
  content: "\F156";
}
/*
.loading-screen > div {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
*/
/*# sourceMappingURL=main.css.map */
