.login-body {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: all;
  -webkit-app-region: drag;
}
.login-body-outer {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: all;
  -webkit-app-region: drag;
  height: 100vh;
  background-image: url("./../assets/images/login-bg.jpg");
}
#mal-logo {
  margin-bottom: 16px;
}
#login-container {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  -webkit-app-region: no-drag;
}
.log-btn {
  margin-top: 16px;
  display: block;
  width: 100%;
}

.log-btn-contiue {
  margin-top: 1px;
  display: block;
  width: 25%;
  -webkit-app-region: no-drag;
}
