.search-filter {
  display: flex;
  position: fixed;
  top: $titlebar-height;
  right: 0;
  padding: 2px;
  z-index: 10;
  height: 47px;
}

.search-result-list {
  position: relative;
}

.search-result-list h1 {
  padding: 4px;
  border-bottom: 1px solid #666;
  margin-bottom: 0;
  top: 0px;
  margin-top: 0;
  color: $main-text;
}

.result-cover {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
  flex-shrink: 0;
}

.result-cover img {
  width: 80px;
  height: 120px;
}

.search-result {
  display: flex;
  padding: 8px;
  border: 1px solid #ddd;
  margin: 4px;
  border-radius: 2px;
  background: $card-background;
}

.result-meta {
  flex-grow: 1;
  padding: 8px;
  h2 {
    margin-bottom: 0;
    padding-left: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.result-meta ul, .result-meta li {
  margin: 0;
  padding: 0;
}

.result-meta li {
  display: inline-block;
  list-style-type: none;
  font-size: 16px;
  padding: 4px 8px;
  color: #666;
}

.result-medium {
  color: #111;
}
