.search-filter {
  width: 100%;
  background: #eaeaea;
  display: flex;
}
.search-filter h1 {
  font-size: 28px;
  margin-top: 0;
  padding: 4px 12px;
  cursor: pointer;
}
.search-filter .filter-grid {
  position: absolute;;
  right: 0;
}
.search-filter .filter-item:hover {
  background: #ddd;
}
.filter-item .filter-dropdown {
  display: none;
}
.filter-item:hover .filter-dropdown {
  display: block;
  position: absolute;
  padding: 8px;
  background: #efefee;
  max-height: 0;
  animation: openDropdown .3s forwards;
  overflow: hidden;
  z-index:666;
}
@keyframes openDropdown {
  from {}
  to {
    max-height: 48px;
  }
}

.filter-dropdown label {
  margin: 2px 8px;
  cursor: pointer;
}


.search-results {
  background: #f5f5f5;
}

.search-results .result-line {
  padding: 8px;
  display: flex;
  border-bottom: 1px solid #eee;
}
.result-line .result-meta {
  max-height: 150px;
  overflow: hidden;
  margin-left: 12px;
}
.result-line .result-meta h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
}
.result-line .result-meta ul {
  margin: 0;
  padding: 0;
}
.result-line .result-meta li {
  display: inline;
  opacity: 0.66;
  margin: 0 2px;
}

.result-cover {
  position: relative;
  width: 250px;
  height: 225px;
  margin: 8px;
  border-radius: 4px;
  overflow: hidden;
  display: inline-flex;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  background: white;
}
.result-cover img {
  margin: 0;
}
.result-cover span {
  position: absolute;
  top: 2px;
  left: 2px;
}
.result-cover::after {
  content: attr(title);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 100px;
  padding: 8px;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)); /* Standard syntax */
  transition: all .3s;
  white-space: wrap;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-weight: 500;
}
.result-cover:hover::after{
  padding: 8px 8px 0px 8px;
  opacity: 0;
}
.result-cover .result-meta {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.result-meta .meta {
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-grow: 1;
}
.meta.genre {
  font-size: 12px;
}
.meta:last-of-type {
  border: none;
}
