.sidebar {
  width: $sidebar-width;
  background-color: $sidebar;
  float: left;
  height: 100vh;
}
//Chiika Logo
.topLeft {
  //background-color: color($userColor, 800);
  width: inherit;
  height: $sidebar-top-height;
  margin-left: auto;
  margin-right: auto;
  //background-image: url("./../assets/images/topLeftBack.png");
  background-color: $sidebar;
  -webkit-app-region: no-drag;
}
.topLeft::after, .topLeft:after {
  content: '';
  width: 135px;
  margin-top: 4px;
  margin-left:10px;
  position: absolute;
  height: 1px;
  border-bottom: 1px solid rgba($color-accent,0.5);
}
//User Avatar and user name
.avatar {
  width: 80px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 40px;
}
.userArea {
  height: calc(#{$sidebar-top-height} - #{$titlebar-height} } );
  cursor: default;
  text-decoration: none;
}
.imageContainer {
  margin-top: 10px;
}
.userInfo {
  color: $sidebar-text;
  text-align: center;
  font-size: $userInfo-font-size;
  margin-top: 5px;
}
.logoContainer {
  height: $titlebar-height;
  background-color: $sidebar-hover;
  border-bottom: 1px solid $sidebar-active;
  -webkit-app-region: drag;
}
img.chiikaLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.navigation {
  background-color: $sidebar;
  width: inherit;
  position: relative;
  height: calc(100% - #{$sidebar-top-height});
  font-size: $navigation-font-size;
  * {
    transition: none;
  }
}
.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 2;
}
.side-menu-link {
  text-decoration: none;
  color: $sidebar-text;
  display: block;
  padding: 6px 0 5px 12px;
  position: relative;
  border-bottom: 1px solid #484D50;
}
.side-menu-link i {
  margin-right: 8px;
}
.side-menu-link:hover {
  background-color: $sidebar-hover;
  color: $sidebar-text-hover;
}
.side-menu-link.active {
  padding-left: 7px;
  border-left: 5px solid $color-accent;
  background-color: $sidebar-active;
}
.side-menu-link.active .side-menu-li {
  color: $sidebar-text-active;
}
.navigation .list-title {
  font-family: Montserrat, 'monospace';
  color: $sidebar-text-active;
  font-weight: bold;
  //padding-left: 12px;
  padding: 4px 0px 4px 12px;
  font-size: 11px;
  margin: 8px 0 0 0;
  text-transform: uppercase;
  // --- Option 1 --- //
  //border-top: 1px solid #676B6C;
  border-bottom: 1px solid #53585D;
  //background: #35393A;

  // --- Option 2 --- //
  /*
  border-top: 1px solid #676B6C;
  border-bottom: 1px solid #35393A;
  background: #53585D;
  /**/
}
.sidebar-image {
  position: absolute;
  width: 160px;
  height: auto;
  bottom: 0;
  z-index: 1;
}
.sidebar-image:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 25%;
  background: linear-gradient(to bottom, rgba(40,43,48,1),rgba(40,43,48,0));
  z-index: 1;
}
.sidebar-image img {
  width: 160px;
  height: auto;
  z-index: 1;
}
