.statusBar {
    box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.2);
}

.animelistStatusbar {
    float: right;
}

.animelistIcons {}

.statusText {
    height: inherit;
    width: 70%;
}

.statusbarGlobal {
    width: 30%;
    float: right;
}