.statusBar {
  background-color: $grey-1;
  border-top: 1px solid $grey-2;
  height: $statusBarHeight;
}

.animelistStatusbar {
    float: right;
}

.animelistIcons {}

.statusText {
    height: inherit;
    width: 70%;
}

.statusbarGlobal {
    width: 30%;
    float: right;
}
