.titlebar {
  min-height: 44px;
  width: inherit;
  display: flex;
  //justify-content: space-between;
  align-items: center;
  padding-right: 16px;
  background-color: $sidebar;
  border-bottom: 1px solid $sidebar-hover;
  .searchContainer {
    display: flex;
    flex-grow: 1;
    position: relative;
  }
  .searchContainer:before {
    content: "\F349";
    font: normal normal normal 24px/1 "Material Design Icons";
    position: absolute;
    left: 8px;
    top: 10px;
    color: #A9A9A4;
  }
  #gridSearch {
    padding: 6px 8px 7px 36px;
    background-color: rgba(0,0,0,0.55);
    //border: 1px solid $grey-3;
    border: none;
    //border-radius: 2px;
    -webkit-app-region: no-drag;
    width: 100%;
    height: 33px;
    margin: 0;
    font-size: 16px;
    color: #A9A9A4;
  }
  #gridSearch:hover {
  background-color: rgba(0,0,0,0.75);
  }
  #gridSearch:active,
  #gridSearch:focus {
  background-color: rgba(255,255,255,0.15);
    outline: none;
    color: white;
  }
}
.titlebar-update:after
{
    content:'';
    position: relative;
    background: rgba(255,0,0,1);
    height:0.4rem;
    width:0.4rem;
    text-align: center;
    line-height: 2rem;
    font-size: 1rem;
    border-radius: 50%;
    color:white;
    right: 4px;
    bottom: 8px;
}
.titlebar-stoplight {
  float: right;
  text-align: right;
}
.titlebar.webkit-draggable .titlebar-settings,
.titlebar.webkit-draggable .titlebar-close,
.titlebar.webkit-draggable .titlebar-devtools,
.titlebar.webkit-draggable .titlebar-update,
.titlebar.webkit-draggable .titlebar-fullscreen,
.titlebar.webkit-draggable .titlebar-minimize {
  -webkit-app-region: no-drag;
}
.titlebar-divider,
.titlebar-settings,
.titlebar-devtools,
.titlebar-close,
.titlebar-update,
.titlebar-fullscreen,
.titlebar-minimize {
  float: left;
  width: 25px;
  height: 25px;
  border-radius: 4px;
  margin: 6px 4px;
  line-height: 0;
  font: normal normal normal 18px/1 "Material Design Icons";
  color: $titlebar-icons;
  display: flex;
  justify-content: center;
  align-items: center;
}
.titlebar-divider {
  width: 1px;
  background: $titlebar-icons;
}
.titlebar-settings:hover,
.titlebar-devtools:hover,
.titlebar-close:hover,
.titlebar-fullscreen:hover,
.titlebar-update:hover,
.titlebar-minimize:hover {
  background-color: rgba(255,255,255,0.15);
}
.titlebar-settings:active,
.titlebar-devtools:active,
.titlebar-close:active,
.titlebar-fullscreen:active,
.titlebar-update:active,
.titlebar-minimize:active {
  background-color: rgba(255,255,255,0.3);
}

.titlebar-settings:after {
  content: "\F493";
}
.titlebar-update:before {
  content: "\F6AF";
}
.titlebar-devtools:after {
  content: "\F169";
}

.titlebar-close {
  margin-left: 6px;
}
.titlebar-close:active {
  z-index: 2;
}
.titlebar-devtools:active {
  z-index: 2;
}
.titlebar-close:after {
  content: "\F5AD";
  z-index: 3;
}
.titlebar-minimize:active {
  z-index: 2;
}
.titlebar-minimize:after {
  content: "\F5B0";
  z-index: 3;
}
.titlebar-fullscreen,
.titlebar-maximize {}
.titlebar-fullscreen:active {
  z-index: 2;
}
.titlebar-fullscreen:after {
  content: "\F5AF";
  z-index: 3;
}
