.titlebar {
  -webkit-user-select: all;
  -webkit-app-region: drag;
  min-height: 44px;
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 16px;
  background-color: $grey-2;
  border-bottom: 1px solid $grey-3;
  #gridSearch {
    padding: 6px 8px 6px 12px;
    background-color: $grey-1;
    border: 1px solid $grey-3;
    border-radius: 2px;
    -webkit-app-region: no-drag;
    width: 150%;
  }
  #gridSearch:hover {
    background-color: $body-bg;
  }
  #gridSearch:active,
  #gridSearch:focus {
    background-color: white;
    outline: none;
  }
}
.titlebar-stoplight {
  float: right;
  text-align: right;
}
.titlebar.webkit-draggable .titlebar-settings,
.titlebar.webkit-draggable .titlebar-close,
.titlebar.webkit-draggable .titlebar-fullscreen,
.titlebar.webkit-draggable .titlebar-minimize {
  -webkit-app-region: no-drag;
}
.titlebar-divider,
.titlebar-settings,
.titlebar-close,
.titlebar-fullscreen,
.titlebar-minimize {
  float: left;
  width: 25px;
  height: 25px;
  border-radius: 4px;
  margin: 6px 4px;
  line-height: 0;
  font: normal normal normal 18px/1 "Material Design Icons";
  color: rgba($main-text, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.titlebar-divider {
  width: 1px;
  background: $grey-3;
}
.titlebar-settings:hover,
.titlebar-close:hover,
.titlebar-fullscreen:hover,
.titlebar-minimize:hover {
  background-color: $grey-2;
}
.titlebar-settings:active,
.titlebar-close:active,
.titlebar-fullscreen:active,
.titlebar-minimize:active {
  background-color: $grey-3;
}

.titlebar-settings:after {
  content: "\F493";
}

.titlebar-close {
  margin-left: 6px;
}
.titlebar-close:active {
  z-index: 2;
}
.titlebar-close:after {
  content: "\F5AD";
  z-index: 3;
}
.titlebar-minimize:active {
  z-index: 2;
}
.titlebar-minimize:after {
  content: "\F5B0";
  z-index: 3;
}
.titlebar-fullscreen,
.titlebar-maximize {}
.titlebar-fullscreen:active {
  z-index: 2;
}
.titlebar-fullscreen:after {
  content: "\F5AF";
  z-index: 3;
}
